@media screen and (min-width:150px) and (max-width:425px){
    .container{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        border: 1px solid gray;
    }
}

@media screen and (min-width:426px){
    .container{
        display: none;
    }

}

