/* scrollbar.css */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px; /* Aplica el border-radius deseado */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1A233B;
  border-radius: 4px; /* Aplica el border-radius deseado */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d0ced4;
}


.containerChat{
  background-color: aqua;
  width: 100%;
  height: 100%;
  /* top:70px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100%; */
}

.chat-minimized{
  /* z-index: 999; */
}

.li-message{
  position: relative;
  background-color:darkblue;
  border-start-start-radius: 0;
  border: 1px solid darkblue;
}

.li-message::before{
  content: ''; /* Debe haber contenido para que funcione el pseudoelemento */
  position: absolute;
  top: -2.2px; /* Ajusta la posición vertical del pico */
  left: -14px; /* Ajusta la posición horizontal del pico */
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Ajusta el tamaño del pico */
  border-right: 10px solid transparent; /* Ajusta el tamaño del pico */
  border-bottom: 10px solid darkblue; /* Color del pico */
  transform: rotate(45deg); /* Rota el pico para crear la forma */
}

/*                       BOTON ADJUNTAR ARCHIVO                 */
/* ------------------------------------------------------------ */
/* Estilos para el botón personalizado de carga de archivos */
.custom-file-upload {
  /* Estilos de tamaño, relleno, colores, bordes, etc. */
  padding: 2px 4px;
  background-color: rgb(107, 114, 122);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  /* Otras propiedades de estilo que desees agregar */
}

.custom-file-upload:hover {
  background-color: rgb(164, 165, 167); /* Estilo al pasar el cursor sobre el botón */
  transform: scale(1.1);
}

