@media screen and (min-width: 150px) and (max-width: 425px){
    .container{
        display: flex;
        flex-direction: column;
        width: 322px;

    }
    .containerInput{
        display: flex;
        width: 320px;
        background-color: gray;

    }
    .buttonMinimizar{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left-width: 1px;
        border-right-width: 1px;
        width: 25px;
        height: 25px;
        border-radius: 7px;
        background-color: rgb(206, 201, 201);
    }
    .buttonclosed{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left-width: 1px;
        border-right-width: 1px;
        width: 25px;
        height: 25px;
        border-radius: 7px;
        background-color: rgb(206, 201, 201);
    }
}

@media screen and (min-width: 426px){
    .container{
        display: none;
    }
}